* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: #edf2f7;
    align-items: left;
    gap: 2rem;
    font-size: 1.5rem;
    width: 50%;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #eee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 1px 3px rgba(255, 255, 255, 0.8);
}

.main2  {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: #edf2f7;
    align-items: left;
    gap: 2rem;
    font-size: 1.5rem;
    width: 50%;
    border-radius: 1rem;
    border: 2px solid #eee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 1px 3px rgba(255, 255, 255, 0.8);
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

button {
    cursor: pointer;
    background: #F8F8F8;
}

button:hover {
    background: #F0F0F0;
}

.header {
    background-color: #b3e5e5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header .logo {
    height: 50px;
    width: auto; 
}

.header {
    flex: 1;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif; 

}

h1 {
    flex: 1;
    text-align: left;
    margin: 0;
    font-family: Arial, sans-serif; 

}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 24px;
    color: #000;
}

.content p {
    font-size: 16px;
    color: #000;
}

